/* Navbar styles */
.navbar {
  text-align: left;
  padding-left: 0;
  margin-bottom: 0;
  position: relative;
}

.navbar-brand.italic-bold.uppercase {
  height: 20px;
  width: 126px;
  color: #ffffff;
  font-family: "Josefin Sans-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 0;
  white-space: nowrap;
}

/* Navigation items */
.navbar-nav {
  padding: 0;
  list-style: none;
}

.nav-item {
  padding-left: 20px;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #ffffff;
}

/* Image section */
.img-fluid {
  position: absolute;
  top: 20%;
  left: 60%;
}

/* Text section */
.text-center {
  text-align: center;
}

.btn {
  margin-top: 20px;
}

/* Background styles */
.bg-image {
  background-color: black;
}

/* Label styles */
.label {
  height: 20px;
  width: 126px;
  color: #ffffff;
  font-family: "Josefin Sans-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 0;
  white-space: nowrap;
}
